#!/usr/bin/env rc -e
# pick and edit draft

MAILSEQ=$MBLAZE/draftsseq

drafts=`{mldrafts}
if (~ $#drafts 0) { echo No draft; exit }

dn=`{mldrafts | mseq -S | mscan | \
     fzf -m --margin 5,1 --reverse --preview-window up:40% \
     --preview 'mshow -N $(sed -n {1}p '$MAILSEQ') | mcolor' | \
     sed -n 's/^\([0-9]\{1,\}\).*/\1/p'}
if (~ $#dn 0) exit

message=`{sed -n $dn^p $MAILSEQ}

mcom -r $message

